.main-content {
  background-color: #f5f5f5;
  /* padding-top: 123px; */
  padding-top: 7rem;
  padding-left: 150px;
  padding-right: 250px;



  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.r-container{
   max-width: 1000px; /* or whatever fits your design */
  margin: 0 auto; 
}