@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.card-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
  padding: 1rem;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition: all 0.3s ease-in-out;
  font-size: 0.9rem;
}

.card-item img {
  width: 100%;
  height: auto;
  max-width: fit-content;
}

.card-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-item h3 {
  white-space: nowrap;
}

.price {
  padding-left: 0.3rem;
  font-size: 1.5rem;
  color: orange;
  font-weight: bold;
}

.schedule {
  color: orange;
}

/* .swiper */
.swiper-button-next,
.swiper-button-prev {
  color: black; /* change arrow color */
  font-weight: bolder;
  background-color: #ff6600;
  scale: 0.7;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ff6600;
}

.card-item {
  display: flex;
  flex-direction: column;
  /* padding: .5rem; */
  /* border: 1px solid red; */
  /* position: relative; */
}

.card-item:hover {
  transform: scale(1.05);
  box-shadow: 5px 4px 12px rgba(167, 120, 93, 0.4);
  /* z-index: 9999; */
}

.overall-box {
  width: 100%;
  /* border: 1px solid red; */
  z-index: -10;
  display: flex;
  align-items: center;
  position: relative;
  /* margin-top: 5rem; */
}

.slider-buttons {
  display: flex;
  gap: 0.8rem;
  position: absolute;
  top: -1;
  right: 0;
  z-index: 999;
}

.slider-buttons button {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 0.8rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: orange;
  z-index: 999;
  border-radius: 60%;
}
